NODE_ENV=development
ASHOTELARIA_DEMO_MODE=true
ASHOTELARIA_DATABASE_URL=postgresql://usuario:senha@host:5432/banco
ASHOTELARIA_SESSION_SECRET=gere-um-segredo-aleatorio-com-ao-menos-32-caracteres
ASHOTELARIA_ADMIN_PASSWORD=defina-no-cofre-do-ambiente
ASHOTELARIA_FINANCE_PASSWORD=defina-no-cofre-do-ambiente
ASHOTELARIA_RECEPTION_PASSWORD=defina-no-cofre-do-ambiente
ASHOTELARIA_DEFAULT_PASSWORD=defina-no-cofre-do-ambiente
