NODE_ENV=production
PORT=3000
TZ=America/Rio_Branco
DATA_DIR=./data
SITE_URL=https://catalogocruzeirodosul.com.br
ADMIN_TOKEN=troque-por-um-token-forte
SUPER_ADMIN_USER=admin
SUPER_ADMIN_PASSWORD=99831455a
POLL_ADMIN_PASSWORD=99831455a
NINJAS_PIX_KEY=99567741204
NINJAS_PIX_RECEIVER_NAME=ANTONIO CLOVIS CORREIA DA SILVA JUNIOR
NINJAS_MERCHANT_NAME=ANTONIO CLOVIS CORREIA DA SILVA JUNIOR
NINJAS_MERCHANT_CITY=CRUZEIRO DO SUL
WHATSAPP_ALERT_ENABLED=false
WHATSAPP_ALERT_TO=5568999999999
WHATSAPP_CLOUD_PHONE_NUMBER_ID=
WHATSAPP_CLOUD_TOKEN=
WHATSAPP_CHAT_ENABLED=false
WHATSAPP_WEBHOOK_VERIFY_TOKEN=troque-por-um-token-seguro
WHATSAPP_CHAT_AUTOREPLY_ENABLED=true
WHATSAPP_CHAT_AUTOREPLY_TEXT=Recebi sua mensagem aqui no WhatsApp. A ponte com o Catalogo/Codex esta ativa e eu vou responder por aqui assim que possivel.
