NODE_ENV=production
PORT=3000
TZ=America/Rio_Branco
DATA_DIR=./data
SITE_URL=https://catalogocruzeirodosul.com.br
ADMIN_TOKEN=troque-por-um-token-forte
SUPER_ADMIN_USER=admin
SUPER_ADMIN_PASSWORD=99831455a
POLL_ADMIN_PASSWORD=99831455a
NINJAS_PIX_KEY=99567741204
NINJAS_PIX_RECEIVER_NAME=ANTONIO CLOVIS CORREIA DA SILVA JUNIOR
NINJAS_MERCHANT_NAME=ANTONIO CLOVIS CORREIA DA SILVA JUNIOR
NINJAS_MERCHANT_CITY=CRUZEIRO DO SUL
